.main-circle {
    background: black;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    position: relative;
    margin: auto;
  }
  .inner-circle {
    position: absolute;
    height: 350px;
    width: 350px;
    top: calc(50% - 175px);
    left: calc(50% - 175px);
  }
  .inner-circle-1 {
    position: absolute;
    height: 150px;
    width: 150px;
    top: calc(50% - 75px);
    left: calc(50% - 75px);
  }
  .inner-circle-2 {
    background: black;
    height: 450px;
    width: 450px;
    position: absolute;
    border-radius: 50%;
    top: calc(50% - 225px);
    left: calc(50% - 225px);
  }
  .inner-circle-3 {
    width: 225px;
    height: 225px;
    position: absolute;
    z-index: 20;
    top: calc(50% - 122.5px);
    left: calc(50% - 122.5px);
  }
  .c1 {
     background: red;
    transform: rotate(10deg);
  }
  .c2 {
    background: yellow;
    transform: rotate(20deg);
  }
  .c3 {
    background: orange;
    transform: rotate(30deg);
  }
  .c4 {
    background: blue;
    transform: rotate(40deg);
  }
  .c5 {
    background: purple;
    transform: rotate(50deg);
  }
  .c6 {
      background: green;
    transform: rotate(60deg);
  }
  .c7 {
      background: white;
    transform: rotate(70deg);
  }
  .c8 {
      background: grey;
    transform: rotate(80deg);
  }
  .c9 {
      background: maroon;
    transform: rotate(90deg);
  }
  
  .inner-circle-2__child {
    position: absolute;
    border-radius: 50%;
    z-index: 10;
    width: 225px;
    height: 225px;
  }
  .child1 {
    background: yellow;
    top: 0;
    left: calc(50% - 122.5px);
  }
  .child2 {
    background: red;
    top: calc(50% - 122.5px);
    left: 0;
  }
  .child3 {
    background: brown;
     top: 50%;
     left: calc(50% - 122.5px);
  }
  .child4 {
    background: grey;
    top: calc(50% - 122.5px);
     right: 0;
  }
  
  .inner-square {
    width: 225px;
    height: 225px;
    background: white;
    position: absolute;
    z-index: 20;
    top: calc(50% - 102.5px);
    left: calc(50% - 113.5px);
  }
  .inner-circle-2__square {
     width: 350px;
    height: 350px;
    position: absolute;
    background: white;
    z-index: 5;
    top: calc(50% - 175px);
    left: calc(50% - 175px);
  }

  .kv-logo {
    width: 225px;
    height: 225px;
    position: absolute;
    background: white;
    z-index: 21;
    border-radius: 50%;
    top: calc(50% - 113.5px);
    left: calc(50% - 125.5px);   
    background:orange;
    box-shadow: 0 0 10px orange,
                  0 0 60px orange,
                  0 0 200px yellow,
                  inset 0 0 80px yellow;
  }

  .kv-logo-up {
    height: 100px;
    border-left: 15px solid blue;
    transform: skew(-30deg);
    position: absolute;
    left: 25%;
    top: 25%;
  }
  
  .kv-logo-up-2 {
    height: 100px;
    border-left: 15px solid blue;
    transform: skew(30deg);
    position: absolute;
    left: 50%;
    top: 25%;
    z-index: 7;
  }
  
  .kv-logo-up-8 {
    width: 46px;
    border-bottom: 15px solid blue;
    position: absolute;
    left: 13.5%;
    top: 64%;
    transform: skewX(-30deg);
    z-index: 8;
  }
  
  .kv-logo-up-3 {
    height: 100px;
    border-left: 15px solid grey;
    transform: skew(30deg);
    position: absolute;
    left: 71%;
    top: 26%;
  }
  
  .kv-logo-up-4 {
    height: 100px;
    border-left: 15px solid grey;
    transform: skew(-30deg);
    position: absolute;
    left: 45%;
    top: 26%;
  }
  
  .kv-logo-up-5 {
    height: 100px;
    border-left: 15px solid red;
    transform: skew(-30deg);
    position: absolute;
    left: 34.9%;
    top: 43%;
    z-index: 5;
  }
  
  .kv-logo-up-6 {
    width: 110px;
    border-bottom: 15px solid red;
    position: absolute;
    left: 27.3%;
    top: 80.5%;
  }
  .kv-logo-up-9 {
    height: 45px;
    border-left: 15px solid red;
    position: absolute;
    left: 68.3%;
    top: 67.5%;
    transform: skew(30deg);
  }
  .kv-logo-up-10 {
    height: 45px;
    border-left: 15px solid red;
    position: absolute;
    left: 33.99%;
    top: 57%;
    transform: skew(-30deg);
    z-index: 8;
  }
  
  .kv-logo-up-7 {
    width: 124px;
    border-bottom: 15px solid grey;
    position: absolute;
    left: 34%;
    top: 65%;
    transform: skewX(30deg);
    z-index: 8;
  }
  